name: Pull Request - ApiTestePraticoDesenvolvedor
on:
  pull_request:
    branches:
      - main
      - develop
    types: [opened, synchronize, reopened]
jobs:
  checkout:
    name: Checkout 4 
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: ['8.x']
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal

  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    needs: checkout
    steps:
    - uses: actions/checkout@v4.1.1
      with:
        fetch-depth: 0
    - name: Setup .NET Core 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: SonarScanner for .NET Core with pull request decoration support
      uses: highbyte/sonarscan-dotnet@v2.3.2
      with:
        sonarProjectKey: davihenrique97_ApiTestePraticoDesenvolvedor
        sonarProjectName:  ApiTestePraticoDesenvolvedor
        sonarOrganization: davihenrique97
        dotnetTestArguments: --logger trx --collect:"XPlat Code Coverage" -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover
        sonarBeginArguments: /d:sonar.verbose="true" /d:sonar.language="cs" /d:sonar.cs.opencover.reportsPaths="**/*.opencover.xml"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
